<html lang='en'>
  <body>
    <h1>Netlify - Neon - Astro</h1>
    <ul>
      <li>
        <a href='/postgres'>Postgres</a>
      </li>
      <li>
        <a href='/serverless-driver-http'>Serverless Driver HTTP</a>
      </li>
      <li>
        <a href='/serverless-driver-websockets'>Serverless Driver Websockets</a>
      </li>
      <li>
        <a href='/edge-function'>Edge Function</a>
      </li>
      <li>
        <a href='/serverless-function'>Serverless Function</a>
      </li>
    </ul>
  </body>
</html>
